---
import Layout from '../layouts/Layout.astro';
import Theather from '../components/Theather.astro';
---

<Layout title="Seat-selector">
	<main class="w-full min-h-screen h-full bg-black [background:radial-gradient(125%_125%_at_50%_10%,#000_40%,#63e_100%)]">
		<Theather />
	</main>
</Layout>

<style>
</style>
