---

---
<div class="flex justify-center">
    <div class="bg-gray-500 h-6 w-10/12 max-w-2xl text-white text-center my-5 shadow-white shadow font-bold select-none stroke
    ">
    <span class="[text-shadow:0.1px_0.1px_5px_rgb(0_0_0)]">
        Screen
    </span>
        
    </div>
</div>

